@page "/docs"
@inject HttpClient Http

<h1>OK, what's going on here?</h1>

<p>This demo is running the Tabular Plugin directly in your browser.</p>

<p>Check out the <a href="https://github.com/AquaticInformatics/tabular-field-data-plugin/wiki" target="_blank">Plugin Wiki</a> for more details and examples.</p>
